</main>

<div class="containerFooter">
    <div class="footerContent">
        <img class="logo" src="images/logo.jpg" alt="Logo" href="/">
    </div>
    <div class="footerContent" id="footerTextContainer">

        <% if (locals.year) { %>
            <p class="footerText">Copyright © Paloma's Blog, <%= year %></p>
        <% } else { %>
            <p class="footerText">Copyright © Paloma's Blog</p>
        <% } %>

        <p class="footerText">All Rights Reserved</p>
    </div>
</div>