<%- include("partials/header.ejs") %>

<div class="myContainer" id="aboutContainer">
    <div id="aboutImage">
        <img src="images/aboutPhoto.jpg" alt="Bloger photo">
    </div>
    <div id="aboutText">
            <h4>About Me</h4>
            <p>Hello there! I'm Paloma, a passionate hobby enthusiast who loves exploring and sharing a variety of interests. Whether it's the thrill of trying something new or the comfort of diving deeper into a long-time passion, hobbies bring joy and fulfillment to my life.</p>
    
            <h4>A Little Bit About My Journey</h4>
            <p>Ever since I was a kid, I've been fascinated by the endless possibilities of hobbies. From crafting intricate models to cooking up new recipes, my curiosity knows no bounds. Over the years, I've dabbled in a bit of everything: gardening, painting, hiking, reading, and much more. Each hobby has taught me something unique and enriched my life in ways I never imagined.</p>
    
            <h4>What You'll Find Here</h4>
            <p>On this blog, I aim to create a space where hobby enthusiasts like you can find inspiration, tips, and community. I'll be sharing my personal experiences, step-by-step guides, and resources to help you dive into new hobbies or enhance the ones you already love. Whether you're looking for a creative outlet, a way to relax, or a new challenge, there's something here for everyone.</p>
    
            <h4>Join the Journey</h4>
            <p>Hobbies are more fun when shared with others! I invite you to join me on this journey of discovery and creativity. Feel free to share your own experiences, ask questions, and connect with fellow hobbyists. Together, we can explore the vast world of hobbies and find joy in the simple pleasures of life.</p>
    
            <p>Thank you for visiting my blog, and I hope you find as much happiness in these hobbies as I do!</p>
    
            <h6>Happy exploring!</h6>
    
            <h6>Paloma, xo</h6>
    </div>
</div>

<%- include("partials/footer.ejs") %>